<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>Bem vindo!!!</h1>
    <p>
      Nesse projeto apresento uma forma de aplicar uma pipeline de funções em
      seu projeto,
    </p>
    <p>
      fazendo uso de arquivos de configurações, podendo eles serem do tipo .yaml
      ou json, basta modificar o arquivo e seu código irá aplicar os devidos
      tratamentos.
    </p>
    <p>OBS: Seu código não precisa saber o que está processando</p>
  </body>
</html>
